/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Junction';
    src: url('web_fonts/junctionregular/Junction-webfont.eot');
    src: url('web_fonts/junctionregular/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/junctionregular/Junction-webfont.woff') format('woff'),
         url('web_fonts/junctionregular/Junction-webfont.ttf') format('truetype'),
         url('web_fonts/junctionregular/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fertigopro';
    src: url('web_fonts/fertigopro/Fertigo_PRO-webfont.eot');
    src: url('web_fonts/fertigopro/Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.woff') format('woff'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.ttf') format('truetype'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.svg#FertigoProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
background: url("img/bgd2.png") top center no-repeat;
height: 1200px;
overflow-y: scroll;
overflow-x: hidden;
}

#loading {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #fff;
z-index: 99999999999999999;
}

#loading img {
position: fixed;
top: 50%;
left: 50%;
margin: -73px 0 0 -73px;
}

/* ==========================================================================
  Header/nav  styles
   ========================================================================== */

h1 {
    display:inline;
    font-family: 'Fertigopro', sans-serif;
    font-style:normal;
    font-size: 22px;

}

header {
    height:85px;
    width:100%;
    text-align:center;
    background-image:url('img/header_bg2.png');
    position: absolute;
    z-index: 2;
}


    
/* ==========================================================================
   Hero styles
   ========================================================================== */


#hero {
height: 1000px;
position: relative;
    }

#hero .browse.disabled {
background-position: 0 0;
cursor: default;
}
	
#hero .browse {
cursor: pointer;
position: absolute;
left: 0;
top: 411px;
width: 44px;
height: 90px;
display: block;
z-index: 5;
background: url('img/hero_nav.png') no-repeat 0 -90px;
	}

#hero .browse.next {
left: auto;
right: 0;
background-position: -44px -90px;
    }

#hero .browse.next:hover {
background-position: -44px -180px;
    }

#hero .browse:hover {
background-position: 0 -180px;
    }



/* ==========================================================================
   Layer styles
   ========================================================================== */

#layer1, #layer2, #layer3{
position: absolute;
width: 900%;
height: 875px;
z-index: 4;
}


#layer2 {
width: 600%;
z-index: 3;

}


#layer3 {
width: 300%;
z-index: 1;
}



#layer1 .work1 {
float: left;
width: 11.11%;
margin-right:22.22%;
margin-top:.3%;
height: 875px;
background:url("img/cello_scroll.png")top left no-repeat;
}

#layer1 .work2 {
background:url('img/wine_barrel.png') center left no-repeat;
float: left;
width: 11.11%;
margin-right:20.22%;
margin-top:1%;
margin-left: 2%;
height: 875px;
z-index: 6;
}

#layer1 .work3 {
background:url('img/globe.png') center left no-repeat;
float: left;
width: 11.11%;
margin-right:20.22%;
margin-top:1%;
margin-left: 2%;
height: 875px;
z-index: 6;
}


#layer2 .work1{
float: left;
width: 16.66%;
margin-right: 16.66%;
margin-top:1.5%;
height: 875px;
background: url('img/work1.png') top no-repeat;
}

#layer2 .work2 {
float: left;
width: 16.66%;
margin-right: 16.66%;
margin-top:1.5%;
height: 875px;
background: url('img/work2.png') top no-repeat;
}

#layer2 .work3 {
float: left;
width: 16.66%;
margin-right: 16.66%;
margin-top:1.2%;
height: 875px;
background: url('img/work3.png') top no-repeat;

}

#layer3 .work1 {
float:left;
width:11.3%;
margin-left: 22%;
height: 875px;
background: url('img/cello.png') center top no-repeat;
}

#layer3 .work2 {
float:left;
width:33.3%;
height: 875px;
background: url('img/vine2.png')top right no-repeat;
}

#layer3 .work3 {
float: left;
width: 13%;
height: 875px;
background: url('img/logoconverge.png')top center no-repeat;
margin-top: 1.2%;
margin-left: 20%;
}







/* ==========================================================================
   Description styles
   ========================================================================== */



#hero h2 {
    font-family: 'Junction', sans-serif;
 color: #000;
font-weight: normal;
font-size: 30px;
text-align: center;
margin: 0 auto;

    }
 
    
p{
    text-align: center;
    font-size: 16px;
    font-family: 'Junction', sans-serif;
  
}


#hero .desc {
position: absolute;
top: 650px;
left: 50%;
width: 560px;
margin-left: -280px;
z-index: 6;
}




/* ==========================================================================
   Footers styles
   ========================================================================== */


.inner {

font-family: 'Junction', sans-serif;
font-size: 23px;
padding-top:100px;
color:white;
}


footer {
font-family: 'Junction', sans-serif;
color: #4d4d4d;
text-align:center;
}



.email {
    font-family: 'Junction', sans-serif;
    text-transform:uppercase;
    color:white;
    text-align:center;
    font-size:15px;
    }
    
a:link {
    text-decoration:none;
    color: white;
    font-family: 'Junction', sans-serif;
    font-weight:400;
    
    }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
