/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Junction';
    src: url('web_fonts/junctionregular/Junction-webfont.eot');
    src: url('web_fonts/junctionregular/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/junctionregular/Junction-webfont.woff') format('woff'),
         url('web_fonts/junctionregular/Junction-webfont.ttf') format('truetype'),
         url('web_fonts/junctionregular/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fertigopro';
    src: url('web_fonts/fertigopro/Fertigo_PRO-webfont.eot');
    src: url('web_fonts/fertigopro/Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.woff') format('woff'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.ttf') format('truetype'),
         url('web_fonts/fertigopro/Fertigo_PRO-webfont.svg#FertigoProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* ==========================================================================
   Big styles
   ========================================================================== */

h1 {
  text-align: center;
}

body {

height:400%;
overflow-y: scroll;
overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right:auto;
  width:66%;
}

#layer1 {
  position:absolute;
  width:300%;
  z-index: 4;
  top:0;
}

.work1, .work2, .work3{

  float: left;
  width: 33.33%;
  overflow:hidden;
  bottom:0;
 
}



#layer1 img {

max-width: 20%;
min-width: 20%;
margin-left: 7%;
position: absolute;
bottom: 150px;
z-index: 99999;


}





#loading {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #fff;
z-index: 99999999999999999;
}

#loading img {
position: fixed;
top: 50%;
left: 50%;
margin: auto;
}

/* ==========================================================================
  Header  styles
   ========================================================================== */

#header {
position: fixed;
left: 20px;
top: 20px;
z-index: 10;
}

#header #menu .menu-item:hover {
    border-bottom:2px solid black;
}

#header #header-logo {
float: left;
width: 50px;
height: 50px;
cursor: pointer;
text-align: center;
line-height: 50px;
font-size: 3em;
}

#header #menu {
float: left;
margin-left: 20px;
}

#header #menu .menu-item{
float: left;
margin: 0 10px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 11px;
-moz-opacity: 0;
-khtml-opacity: 0;
-webkit-opacity: 0;
opacity: 0;

-webkit-transition: all .1s ease-out;
-moz-transition: all .1s ease-out;
-o-transition: all .1s ease-out;
transition: all .1s ease-out;
-ms-filter: alpha(opacity=0);
filter: alpha(opacity=0);
-webkit-transform: translate3d(-10px,0,0);
-moz-transform: translate3d(-10px,0,0);
-ms-transform: translate3d(-10px,0,0);
transform: translate3d(-10px,0,0);
cursor: pointer;
line-height: 50px;
}

#header #menu .menu-item.two {
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}

#header #menu .menu-item.three {
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;
}

#header:hover #menu .menu-item{
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
    opacity:1;
    -ms-filter:alpha(opacity=100);
    filter:alpha(opacity=100);
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}

/* ==========================================================================
   Landing styles
   ========================================================================== */

section {
    display: table;
    width:100%;
    overflow: hidden;


}

.content {
    display:table-cell;
    vertical-align: middle;
}

#landing .content h1 {
text-align: center;
font-family: 'Lato', sans-serif;
margin: 0;
padding: 0;
font-weight: 400;
font-size: 40px;
letter-spacing: 2px;

-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;

-webkit-transform: translate(0,0);
-moz-transform: translate(0,0);
-o-transform: translate(0,0);
-ms-transform: translate(0,0);
transform: translate(0,0);

-moz-opacity: 1;
-khtml-opacity: 1;
-webkit-opacity: 1;
opacity: 1;

-ms-filter: alpha(opacity=100);
filter: alpha(opacity=100);
}

#landing .content h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
font-size: 16px;
margin: 12px 0 0;
padding: 0;
font-weight: 100;
letter-spacing: 2px;
text-transform: uppercase;

-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;

-webkit-transform: translate(0,0);
-moz-transform: translate(0,0);
-o-transform: translate(0,0);
-ms-transform: translate(0,0);
transform: translate(0,0);

-moz-opacity: 1;
-khtml-opacity: 1;
-webkit-opacity: 1;
opacity: 1;

-ms-filter: alpha(opacity=100);
filter: alpha(opacity=100);
}


/* ==========================================================================
   nav arrow styles
   ========================================================================== */

.slide-navigation {
  width:100%;
  height:75px;
  position:absolute;
  bottom:0;
  z-index: 100;
}

.slide-nav-container{
  height:100%;
  background-color:#121314;
  opacity:.85;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  bottom:0;
}

.slide-nav-container.landing {
  width:80px;
}

.slide-nav-container.work {
  width:320px;
}


.slide-nav-container.about, .slide-nav-container.contact{
  width: 160px;
}

.slide-navigation .slide-nav-button {
float: left;
display: inline-block;
width: 15px;
padding: 30px 35px 30px 28px
}



.slide-nav-button .next-project {
  display:inline-block;

}

.icon-arrow.left, .icon-arrow.right{
  height:12px;
  width:26px;
}

.slide-nav-button.prev-project{

webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;

-webkit-transition-delay: 0.1s;
-moz-transition-delay: 0.1s;
transition-delay: 0.1s;

 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 transition: all .4s ease;

/*-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
-ms-transform: translateX(0px);
-o-transform: translateX(0px);
transform: translateX(0px);*/
}


.slide-nav-button.next-project{
    webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;

-webkit-transition-delay: 0.1s;
-moz-transition-delay: 0.1s;
transition-delay: 0.1s;

 -webkit-transition: all .4s ease;
 -moz-transition: all .4s ease;
 transition: all .4s ease;

/*-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
-ms-transform: translateX(0px);
-o-transform: translateX(0px);
transform: translateX(0px);*/
}

.slide-nav-button.prev-project:hover{
-webkit-transform: translateY(-5px);
-moz-transform: translateY(-5px);
-ms-transform: translateY(-5px);
-o-transform: translateY(-5px);
}

.slide-nav-button.next-project:hover{
-webkit-transform: translateY(5px);
-moz-transform: translateY(5px);
-ms-transform: translateY(5px);
-o-transform: translateY(5px);
}

.slide-nav-button.prev-project.left:hover{
-webkit-transform: translateX(-5px);
-moz-transform: translateX(-5px);
-ms-transform: translateX(-5px);
-o-transform: translateY(-5px);
margin-top:0;
}


.slide-nav-button.next-project.right:hover{
-webkit-transform: translateX(5px);
-moz-transform: translateX(5px);
-ms-transform: translateX(5px);
-o-transform: translateX(5px);
margin-top:0;
}




.icon-arrow.up:before, .icon-arrow.up:after {
top: 0;
left: 0;
-webkit-transform-origin: 12.5px 1.5px;
-moz-transform-origin: 12.5px 1.5px;
-ms-transform-origin: 12.5px 1.5px;
-o-transform-origin: 12.5px 1.5px;
transform-origin: 12.5px 1.5px;
}


.icon-arrow {
position: relative;
display: block;
width: 26px;
height: 12px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
/*-webkit-transform: translateZ(0) scale(1 1);
-moz-transform: translateZ(0) scale(1 1);
-ms-transform: translateZ(0) scale(1 1);
-o-transform: translateZ(0) scale(1 1);
transform: translateZ(0) scale(1 1);*/
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}




.icon-arrow:after, .icon-arrow:before{
position: absolute;
display: block;
content: ' ';
width: 14px;
height: 3px;
background-color: #fff;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.icon-arrow.right:before, .icon-arrow.right:after, 
.icon-arrow.left:before, .icon-arrow.left:after {
  position: absolute;
display: block;
content: ' ';
width: 14px;
height: 3px;
background-color: #fff;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.icon-arrow.right:before {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.icon-arrow.right:after {
  -webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);

}

.icon-arrow.up:before {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);

}

.icon-arrow.up:after {
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.icon-arrow.down:before {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);

}

.icon-arrow.down:after {
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-ms-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.icon-arrow.left:before {
    -webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


 .icon-arrow.left:after{

-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-ms-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
 }

.icon-arrow.down:before, .icon-arrow.down:after, .icon-arrow.right:before, .icon-arrow.right:after, 
.icon-arrow.left:before, .icon-arrow.left:after{
bottom: 0;
left: 0;
-webkit-transform-origin: 12.5px 1.5px;
-moz-transform-origin: 12.5px 1.5px;
-ms-transform-origin: 12.5px 1.5px;
-o-transform-origin: 12.5px 1.5px;
transform-origin: 12.5px 1.5px;
}

.icon-arrow.up span{
top: 1px;
left: 11px;
width: 3px;
height: 0;
}

.icon-arrow.down span{
bottom: 1px;
left: 11px;
width: 3px;
height: 0;
}

.icon-arrow.left span{
top: 9px;
left: 11px;
width: 3px;
height: 0;
}

.icon-arrow.right span{
top: 9px;
right: 12px;
width: 3px;
height: 0;
}

.icon-arrow span{
position: absolute;
display: block;
/*color: transparent;*/
text-shadow: none;
background-color: #fff;
opacity: 0;
-webkit-transition: height 0.3s,width 0.3s,opacity 0.5s;
-moz-transition: height 0.3s,width 0.3s,opacity 0.5s;
transition: height 0.3s,width 0.3s,opacity 0.5s;
}

a:hover .icon-arrow span {
height: 20px;
opacity: 1;
}

a:hover .icon-arrow.left span {
width: 20px;
height:3px;
opacity: 1;
}

a:hover .icon-arrow.right span {
width: 20px;
height:3px;
opacity: 1;
}



    
/* ==========================================================================
   Hero styles
   ========================================================================== */


#hero {

position: relative;
}

#layer1 #corner1{
  max-width:15%;
  min-width: 15%;
  margin-left:18%;
  position:absolute;
  top:0;

}

#layer1 #corner2{
  max-width:8%;
  min-width: 8%;
  margin-left:25%;
  position:absolute;
  top:0;
}

#layer1 #corner3{
  max-width:8%;
  min-width: 8%;
  margin-left:25%;
  position:absolute;
  top:30px;
  right:30px;
}

#shelf {

left: 0;
right: 0;
background: url('img/shelf.png') bottom repeat-x;
display: block;
height:200px;
bottom:0;
position:absolute;
z-index: 200;
}


/* ==========================================================================
   Layer styles
   ========================================================================== */



/* ==========================================================================
   Description styles
   ========================================================================== */



#hero h2 {
font-family: 'Lato', sans-serif;
color: #000;
font-weight: 700;
font-size: 30px;
margin: 0 auto;
}
 
    
p{

    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


#hero .desc {
position: absolute;
z-index: 6;
width:33.333%;
margin-left:35%;
padding-top:5%;
}


a {
    cursor: pointer;

}

.seemore {
position: relative;
display: block;
font-family: 'Lato', sans-serif;
font-size: 0.75em;
line-height: 1.83333em;
font-weight: 700;
color: black;
text-decoration: none;
letter-spacing: 1px;
overflow: hidden;
-webkit-transition: padding-left 0.3s;
-moz-transition: padding-left 0.3s;
transition: padding-left 0.3s;
}




.seemore:before {
position: absolute;
content: ' ';
display: block;
opacity:0;
top:0;
left:0;
width: 20px;
height: 19px;
-webkit-transform: translateX(10px);
-moz-transform: translateX(10px);
-ms-transform: translateX(10px);
-o-transform: translateX(10px);
background: url("img/go-outside.png") no-repeat;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
transition: all 0.2s;
cursor: pointer;

}

.seemore:after {
cursor: pointer;
position: absolute;
content: ' ';
display: inline-block;
width: 20px;
height: 19px;
opacity:0;
top:0;
left:0;
-webkit-transform: translateX(-10px);
-moz-transform: translateX(-10px);
-ms-transform: translateX(-10px);
-o-transform: translateX(-10px);
transform: translateX(-10px);
background: url("../img/go-arrow.png")right center no-repeat;
-webkit-transition: opacity 0.2s;
-moz-transition: opacity 0.2s;
transition: opacity 0.2s;

}

a:hover .seemore {
padding-left: 35px;
-webkit-transition: padding-left 0.3s;
-moz-transition: padding-left 0.3s;
transition: padding-left 0.3s;
}


a:hover .seemore:after {
    webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;

-webkit-transition-delay: 0.1s;
-moz-transition-delay: 0.1s;
transition-delay: 0.1s;

-webkit-transition-property: -webkit-transform,opacity;
-moz-transition-property: -moz-transform,opacity;
transition-property: transform,opacity;

opacity: 1;

-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
-ms-transform: translateX(0px);
-o-transform: translateX(0px);
transform: translateX(0px);


}

a:hover .seemore:before {

-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0);
opacity: 1;


}



/*hidden work full styles*/

#vintageClose, #jeremyClose, #convergeClose{
display: block;
width: 83px;
height: 82px;
position: absolute;
top: 5%;
margin-left: 80%;
cursor: pointer;
background:url('img/close.png') no-repeat;
}

#vintageFull, #jeremyFull, #convergeFull {
    background-color:#201f1f;
    width:100%;
    height:100%;
    overflow-x:hidden;
    display:none;
    z-index: 999999;
    position:absolute;
    top:0;
}



.inner {
    margin-left:20%;
    margin-right:20%;
}

.inner img {
    max-width:100%;
    min-width:100%;
    margin:5% 0 5% 0;
}   

#hero .inner h2 {
font-family: 'Junction', sans-serif;
color: white;
text-align: center;
font-weight: normal;
text-align: center;
margin-top:5%;
z-index:10;
}

.inner p {
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    z-index:10;
    text-align: center;
}

#jeremy, #converge {
    display:none;
}

#jeremyFull {
    display:none;
}


/* ==========================================================================
   About me styles
   ========================================================================== */
#aboutSection {
text-align: center
}

#description p{
  font-size: 25px;
}

#subabout1, #subabout2 {
  width:44%;
  float:left;
 padding:3%;
}

/* ==========================================================================
   contact styles
   ========================================================================== */
#contactarea {
  display:block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width:100%;
}

/* ==========================================================================
   media queries
   ========================================================================== */


/*Desktops and Laptops*/

@media (min-width:1024px) and (max-width:1300px){
  #layer1 img {

  max-width: 25%;
  min-width: 25%;
  margin-left:5%;

}

#hero .desc {
  margin-left:33.333%;
  padding-top:6%;
}

/*Ipads and Tablets*/

}

@media (min-width:768px) and (max-width:1024px){
  #layer1 img {

  max-width: 30%;
  min-width: 30%;
  margin-left:3%;

}

#hero .desc {
  margin-left:30%;
  padding-top:5%;
  width:50%;
}

.inner {
  margin-left:10%;
  margin-right:10%;
}

}

/*the inbetween*/

@media (min-width:480px) and (max-width: 768px){
    #layer1 img {

  max-width: 35%;
  min-width: 35%;
  margin-left:0;
}

#hero .desc {
  width:66.666%;
  margin-left:25%;
  padding-top:2%;
  position:absolute;

}

#hero #layer1 #corner1, #corner2, #corner3{
  display:none;
}

.inner {
  margin-left:5%;
  margin-right:5%;
}

#subabout1, #subabout2{
  width:100%;
}

.container{
  width:83.333%;
  padding-top:10%;
}

}

/*Smart Phones*/

@media (min-width:320px) and (max-width: 480px){
    #layer1 img {

  max-width: 35%;
  min-width: 35%;
  margin-left:0;
}

#hero .desc {
  width:80%;
  margin-left:20%;
  padding-top:30%;
}

#hero #layer1 #corner1, #corner2, #corner3{
  display:none;
}
.container{
  width:100%;
  padding-top:15%;
}

#subabout1, #subabout2{
  width:100%;
}


}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
